@{
	Layout = "_Layout_2";
}
<div id="comp-icontb" class="iconbox">
    <div class="icontb">
        <div class="tr">
			<div class="td btltbox btltbox-vd">
				<a asp-controller="Monitors" asp-action="Index">
					<div>
						<img src="~/img/confg-ico-9.svg" alt="">
						<div class="td_text">Монитор</div>
					</div>
				</a>
			</div>
			
			<div class="td btltbox btltbox-vd"> 
				<a asp-controller="Keyboards" asp-action="Index">
					<div >
						<img src="~/img/confg-ico-11.svg" alt="">
						<div class="td_text">Пернетақта</div>
					</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd"> 
				<a asp-controller="Mice" asp-action="Index">
					<div >					
						<img src="~/img/confg-ico-10.svg" alt="">
						<div class="td_text">Тышқан</div>
					</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd">
				<a asp-controller="Mouse_pads" asp-action="Index">
					<div>
						<img src="~/img/confg-ico-mouse-pad.svg" alt="">
						<div class="td_text">Коврик</div>
					</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd">
				<a asp-controller="Headphones" asp-action="Index">
					<div>
						<img src="~/img/confg-ico-headphones.svg" alt="">
						<div class="td_text">Құлаққап</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>