<	@{
    Layout = "_Layout_2";
}
	div id="comp-icontb" class="iconbox">
    <div class="icontb">
        <div class="tr">
			<div class="td btltbox btltbox-vd">
				<a asp-controller="Finished_assembly" asp-action="Index">
					<div>
						<img src="~/img/icon_part/icob-btn-08.svg" alt="">
						<div class="td_text">Периферия</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>