@{
	Layout = "_Layout_2";
}
<div id="comp-icontb" class="iconbox">
    <div class="icontb">
        <div class="tr">
			<div class="td btltbox btltbox-vd">
				<a asp-controller="CPUs" asp-action="Index">
					<div>
						<img src="~/img/icon_part/confg-ico-1.svg" alt="">
						<div class="td_text">Процессор</div>
					</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd">
				<a asp-controller="Matplatas" asp-action="Index">
					<div>
						<img src="~/img/icon_part/confg-ico-2.svg" alt="">
						<div class="td_text">Аналық плата</div>
					</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd">
				<a asp-controller="RAMs" asp-action="Index">
					<div>
						<img src="~/img/icon_part/confg-ico-4.svg" alt="">
						<div class="td_text">Жедел жады</div>
					</div>
				</a>
			</div>
			
			<div class="td btltbox btltbox-vd">
				<a asp-controller="BPs" asp-action="Index">
					<div > 
						<img src="~/img/icon_part/confg-ico-5.svg" alt="">
						<div class="td_text">Қуат блогы</div>
				  	</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd"> 
				<a asp-controller="Cases" asp-action="Index">
					<div > 
						<img src="~/img/icon_part/confg-ico-8.svg" alt="">
						<div class="td_text">Корпус</div>
				   	</div>
				</a>
			</div>
			
		</div>
        <div class="tr">
			<div class="td btltbox btltbox-vd">
				<a asp-controller="Coolers" asp-action="Index">
					<div>
						<img src="~/img/icon_part/icob-btn-02.svg" alt="">
						<div class="td_text">Салқындатқыш</div>
					</div>
				</a>
			</div>
			
			<div class="td btltbox btltbox-vd">
				<a asp-controller="CoolingSystems" asp-action="Index">
					<div>
						<img src="~/img/icon_part/confg-ico-6.svg" alt="">
						<div class="td_text">Суыту жүйесі</div>
				   	</div>
				</a>
			</div>
			
			<div class="td btltbox btltbox-vd"> 
				<a asp-controller="DVDs" asp-action="Index">
					<div >
						<img src="~/img/icon_part/111.png" alt="">
						<div class="td_text">DVD слот</div>
					</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd"> 
				<a asp-controller="GPUs" asp-action="Index">
					<div>	 				
						<img src="~/img/icon_part/icob-btn-05.svg" alt="">
						<div class="td_text">Графикалық карта</div>
					</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd">
				<a asp-controller="NetworkCards" asp-action="Index">
					<div>
						<img src="~/img/icon_part/1.png" alt="">
						<div class="td_text">Желілік карта</div>
					</div>
				</a>
			</div>
			
		</div>
        <div class="tr">
			<div class="td btltbox btltbox-vd">
				<a asp-controller="ColvoMemories" asp-action="Index">
					<div>
						<img src="~/img/icon_part/confg-ico-4.svg" alt="">
						<div class="td_text">Жады саны</div>
					</div>
				</a>
			</div>
			
			<div class="td btltbox btltbox-vd"> 
				<a asp-controller="TypeOfMemories" asp-action="Index">
					<div >
						<img src="~/img/icon_part/icob-btn-06.svg" alt="">
						<div class="td_text">Жады түрі</div>
					</div>
				</a>
			</div>
			<div class="td btltbox btltbox-vd"> 
				<a asp-controller="VoiceCards" asp-action="Index">
					<div >					
						<img src="~/img/icon_part/11.png" alt="">
						<div class="td_text">Дыбыс картасы</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>