
<div class="b-wrap-nerd-fincontent">
    <div class="b-ndpac-col-right" style="width: 270px;min-width: 270px;
    text-align: right;">
		<div class="b-price" style="font-weight: 700; line-height: 40px; font-size: 38px; color: #eb4242; padding: 0 0 15px 0;margin: 0;">
			~$4,518
		</div>

		<a class="b-link-add2bas assembly_add_to_cart" href="javascript: void(0);">Купить</a>
		<a class="b-link-improve assembly_upgrade" href="javascript: void(0);">Совершенствовать</a>
		<ul class="b-config-manage-links"></ul>
	</div>
        <div id="secProdAll" class="b-ndp-assembly-cols">
            <div class="b-ndpac-photo">
                <div class="b-product-desc-box">
                                        <div class="b-product-db-photos">
                        
                        
                    </div><!-- /.b-product-db-photos -->
                </div><!-- /.b-product-desc-box -->
            </div>
            
        </div>

    <div class="b-assembly-ings" style="font-size: 16px;
    line-height: 20px;
    color: #fff;
    opacity: .5;
    padding: 0 0 20px 0;
    font-family: 'Montserrat', sans-serif;">
        Состав комплектующих из <b>9</b> товаров:
    </div>
    <div class="b-assembly-item-line" id="assemb1">
       <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                    <div class="b-in"><img src="~/img/CPU_img/bisriy.png" width="54" alt="Фото AMD Ryzen 5 3600 3.6(4.2)GHz 32MB sAM4 Box (100-100000031AWOF)"></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">Процессор</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/423801">AMD Ryzen 5 3600 3.6(4.2)GHz 32MB sAM4 Box (100-100000031AWOF)</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                                            <div class="b-aili-price">$171</div>
                                                    </div>
                <ul class="b-aili-tabs-nav"> </ul>
                    </div>
                    </div>

         <div class="panel b-panel-aili">
            <div class="collapse" id="collapAssembTab-1-2">
                <div class="b-panel-aili-item">
                    <div class="b-aili-item-chars-head">Технические характеристики</div>
                            <table class="b-aili-item-chars">
        <tbody>
                                <tr>
                <td>Линейка</td>
                <td>AMD Ryzen 5</td>
            </tr>
                                            <tr>
                <td>Разъем процессора (Socket)</td>
                <td>AM4</td>
            </tr>
                                            <tr>
                <td>Совместимость</td>
                <td>Материнские платы Socket AM4</td>
            </tr>
                                            <tr>
                <td>Количество ядер</td>
                <td>6 ядер</td>
            </tr>
                                            <tr>
                <td>Количество потоков</td>
                <td>12</td>
            </tr>
                                            <tr>
                <td>Частота процессора</td>
                <td>3600</td>
            </tr>
                                            <tr>
                <td>Объём кэша L3</td>
                <td>32768</td>
            </tr>
                                            <tr>
                <td>Кодовое название микроархитектуры</td>
                <td>Matisse</td>
            </tr>
                                            <tr>
                <td>Серия</td>
                <td>Ryzen 3</td>
            </tr>
                                            <tr>
                <td>Микроархитектура</td>
                <td>Zen 2</td>
            </tr>
                                            <tr>
                <td>Название графического ядра</td>
                <td>Без встроенной графики</td>
            </tr>
                                            <tr>
                <td>Разблокированный множитель</td>
                <td>+</td>
            </tr>
                                            <tr>
                <td>Макс. объем памяти</td>
                <td>64</td>
            </tr>
                                            <tr>
                <td>Техпроцесс</td>
                <td>7</td>
            </tr>
                                            <tr>
                <td>Термопакет</td>
                <td>65</td>
            </tr>
                                            <tr>
                <td>Производительность</td>
                <td>17774</td>
            </tr>
                            </tbody>
    </table>
                    </div>                    
                </div>
            </div>
        </div>
    <div class="b-assembly-item-line" id="assemb2">
                <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                            <div class="b-in"><img src="https://img.telemart.ua/305976-469755-cart_medium/gigabyte-b550-gaming-x-v2-sam4-amd-b550.png" width="54" alt="Фото Gigabyte B550 GAMING X V2 (sAM4, AMD B550)"></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">Материнская плата</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/305976">Gigabyte B550 GAMING X V2 (sAM4, AMD B550)</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                                            <div class="b-aili-price">$136</div>
                                                    </div>
                <ul class="b-aili-tabs-nav"> </ul>
                    </div>
                </div>

                <div class="panel b-panel-aili">

                                        <div class="collapse" id="collapAssembTab-2-2">
                        <div class="b-panel-aili-item">
            <div class="b-aili-item-chars-head">Процессор</div>

                </div>                    
            </div>
        </div>
    </div>
        <div class="b-assembly-item-line" id="assemb3">
                <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                            <div class="b-in"><img src="https://img.telemart.ua/370669-516076-cart_medium/gigabyte-geforce-rtx-3080-gaming-oc-10240mb-gv-n3080gaming-oc-10gd-20.png" width="54" alt="Фото Gigabyte GeForce RTX 3080 Gaming OC 10240MB (GV-N3080GAMING OC-10GD 2.0)"></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">Видеокарта</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/370669">Gigabyte GeForce RTX 3080 Gaming OC 10240MB (GV-N3080GAMING OC-10GD 2.0)</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                <div class="b-aili-price">$3,755</div>
                            </div>
                <<ul class="b-aili-tabs-nav"> </ul>
                    </div>
                </div>

                <div class="panel b-panel-aili">

                    <div class="collapse" id="collapAssembTab-3-2">
                        <div class="b-panel-aili-item">
                    <div class="b-aili-item-chars-head">Технические характеристики</div>
   
        </div>                    </div>

                                        <div class="collapse" id="collapAssembTab-3-3">
                        <div class="b-panel-aili-item">
                            <div class="b-videowrapper-wrapper">
            <div class="b-videowrapper">
            <iframe width="500" height="500" src="https://www.youtube.com/embed/WPTxkU38BKg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
    </div>                        </div>
                    </div>
                                    </div>
            </div>
                                <div class="b-assembly-item-line" id="assemb4">
                <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                            <div class="b-in"><img src="https://img.telemart.ua/374722-521918-cart_medium/kingston-ddr4-16gb-2x8gb-3200mhz-fury-beast-black-kf432c16bbk216.jpg" width="54" alt="Фото Kingston DDR4 16GB (2x8GB) 3200Mhz FURY Beast Black (KF432C16BBK2/16)"></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">ОЗУ</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/374722">Kingston DDR4 16GB (2x8GB) 3200Mhz FURY Beast Black (KF432C16BBK2/16)</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                                            <div class="b-aili-price">$63</div>
                                                    </div>
                <ul class="b-aili-tabs-nav"> </ul>
                    </div>
                </div>

                <div class="panel b-panel-aili">

                                        <div class="collapse" id="collapAssembTab-4-2">
                        <div class="b-panel-aili-item">
            <div class="b-aili-item-chars-head">Технические характеристики</div>
   
        </div>                    </div>

                                    </div>
            </div>
                                <div class="b-assembly-item-line" id="assemb5">
                <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                            <div class="b-in"><img src="https://img.telemart.ua/329827-482353-cart_medium/gigabyte-p850gm-850w-gp-p850gm.png" width="54" alt="Фото Gigabyte P850GM 850W (GP-P850GM)"></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">Блок питания</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/329827">Gigabyte P850GM 850W (GP-P850GM)</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                                            <div class="b-aili-price">$122</div>
                                                    </div>
                <ul class="b-aili-tabs-nav"> </ul>
                    </div>
                </div>

                <div class="panel b-panel-aili">

                                        <div class="collapse" id="collapAssembTab-5-2">
                        <div class="b-panel-aili-item">
            <div class="b-aili-item-chars-head">Технические характеристики</div>
   
    </div>                    </div>

                                    </div>
            </div>
                                <div class="b-assembly-item-line" id="assemb6">
                <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                            <div class="b-in"><img src="https://img.telemart.ua/30250-517604-cart_medium/deepcool-fan-120mm-gammaxx-300.jpg" width="54" alt="Фото Deepcool GAMMAXX 300"></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">Система охлаждения</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/30250">Deepcool GAMMAXX 300</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                                            <div class="b-aili-price">$18</div>
                                                    </div>
                <ul class="b-aili-tabs-nav"> </ul>
                    </div>
                </div>

                <div class="panel b-panel-aili">

                                        <div class="collapse" id="collapAssembTab-6-2">
                        <div class="b-panel-aili-item">
            <div class="b-aili-item-chars-head">Основные</div>
  
        </div>                    </div>

                                        <div class="collapse" id="collapAssembTab-6-3">
                        <div class="b-panel-aili-item">
                            <div class="b-videowrapper-wrapper">
            <div class="b-videowrapper">
            <iframe width="500" height="500" src="https://www.youtube.com/embed/1Bmfn5Hwgz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
            <div class="b-videowrapper">
            <iframe width="500" height="500" src="https://www.youtube.com/embed/yRLznmNgRio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
    </div>                        </div>
                    </div>
                                    </div>
            </div>
                                <div class="b-assembly-item-line" id="assemb7">
                <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                            <div class="b-in"><img src="https://img.telemart.ua/356349-499492-cart_medium/kingston-nv1-500gb-m2-2280-pci-e-nvme-x4-snvs500g.jpg" width="54" alt="Фото Kingston NV1 500GB M.2 (2280 PCI-E) NVMe x4 (SNVS/500G)"></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">SSD-диск</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/356349">Kingston NV1 500GB M.2 (2280 PCI-E) NVMe x4 (SNVS/500G)</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                                            <div class="b-aili-price">$54</div>
                                                    </div>
                <ul class="b-aili-tabs-nav"> </ul>
                    </div>
                </div>

                <div class="panel b-panel-aili">

                                        <div class="collapse" id="collapAssembTab-7-2">
                        <div class="b-panel-aili-item">
            <div class="b-aili-item-chars-head">Основные</div>
   
        </div>                    </div>

                                    </div>
            </div>
                                <div class="b-assembly-item-line" id="assemb8">
                <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                            <div class="b-in"><img src="https://img.telemart.ua/11483-503555-cart_medium/western-digital-caviar-blue-1tb-64mb-7200rpm-35-wd10ezex.png" width="54" alt="Фото Western Digital Blue 1TB 64MB 3.5" (wd10ezex)"=""></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">Жесткий диск</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/11483">Western Digital Blue 1TB 64MB 3.5" (WD10EZEX)</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                                            <div class="b-aili-price">$42</div>
                                                    </div>
                <ul class="b-aili-tabs-nav"> </ul>
                    </div>
                </div>

                <div class="panel b-panel-aili">

                                        <div class="collapse" id="collapAssembTab-8-2">
                        <div class="b-panel-aili-item">
            <div class="b-aili-item-chars-head">Основные</div>
    
        </div>                    </div>

                                        <div class="collapse" id="collapAssembTab-8-3">
                        <div class="b-panel-aili-item">
                            <div class="b-videowrapper-wrapper">
            <div class="b-videowrapper">
            <iframe width="500" height="500" src="https://www.youtube.com/embed/kYvla_VhGGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </div>
    </div>                        </div>
                    </div>
                                    </div>
            </div>
                                <div class="b-assembly-item-line" id="assemb9">
                <div class="b-aili-cols">
                    <div class="b-aili-pic-col">
                        <div class="b-pic-container">
                            <div class="b-in"><img src="https://img.telemart.ua/260849-438984-cart_medium/deepcool-matrexx-55-mesh-add-rgb-4f-tempered-glass-bez-bp-black.jpg" width="54" alt="Фото Deepcool MATREXX 55 MESH ADD-RGB 4F Tempered Glass без БП Black"></div>
                        </div>
                    </div>
                    <div class="b-aili-mid-col">
                        <div class="b-aili-det-meta">
                            <div class="b-aili-det-name">Корпус</div>
                        </div>
                        <div class="b-aili-product-name">
                            <a target="_blank" href="https://nerdpart.com/ru/product/260849">Deepcool MATREXX 55 MESH ADD-RGB 4F Tempered Glass без БП Black</a>
                        </div>
                    </div>
                    <div class="b-aili-meta-col">
                        <div class="b-aili-mc-nums">
                            <div class="b-aili-qnt">1 шт</div>
                                                            <div class="b-aili-price">$151</div>
                                                    </div>
                <ul class="b-aili-tabs-nav"> </ul>
                    </div>
                </div>

                <div class="panel b-panel-aili">

                                        <div class="collapse" id="collapAssembTab-9-2">
                        <div class="b-panel-aili-item">
            <div class="b-aili-item-chars-head">Основное</div>
   
        </div>                    </div>

                                    </div>
            </div>



</div>
