  <div class="block">
    
    <div class="block_left">
      <div>
      <div class="square">
        <div class="square__bg-wrap" style="background-color: #0376c5;" > 
            <div class="square__bg "
          style="background-image: url('https://i.pinimg.com/originals/03/dd/d1/03ddd10eae09ddb201060c7d7d630b06.jpg')">
        </div>
        </div> 
        </div>
      <div class="text">Выберите готовый компьютер из наших качественных сборok </div>
      </div>
      
         <div> 
           <div class="text">Соберите Персональный компьютер под ваш вкус и бюджет</div>
            <div class="square">
                <div class="square__bg-wrap" style="background-color: #445599;"> 
              <div class="square__bg" style="background-image: url('https://i.pinimg.com/originals/9d/0a/59/9d0a59174cbddce8c8da59797de9c672.jpg')"></div>
                </div> 
          </div>
    </div>
      
    </div>
    <div class="block_right">
       <h1 class="title">
       Создадим ПК <br/> вашей мечты
       </h1>

       <div class="buttons">
            <a asp-controller="Home" asp-action="Cities" class="button-bistriy" style="display:none"><img src="/img/молния.svg"> Готовая сборка</a>
   			<a asp-controller="Home" asp-action="Qwerty" class="button-sobrat"> <img src="/img/ключ.svg"> Собрать компьютер</a>
	    </div>
    </div>
</div>