<div class="b-wrap-all-tr">
    <div class="container-fluid">
        <div class="b-content clearfix">
            <div class="b-wrap-row-container">
                <div class="row b-row-container">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                        <div class="">
                            <article class="b-article b-article-570">
                                <h1 style="font-family: 'Montserrat', sans-serif; font-size: 36px;">
                                    ComPart - первый сервис по сборке, сравнению и онлайн тестированию компьютера онлайн
                                </h1>
                                <p>
                                    Наш проект создан для тех, кто ищет помощи или просто увлекается сборкой ПК. ComPart - лучший отличный помощник и советчик в выборе компьютерной техники.
                                </p>
                                <p>
                                    Команда ComPart - это всерьез увлеченные современными технологиями и гаджетами профессионалы.
                                </p>
                                <p>
                                    Наша основная цель - сделать сервис, который позволит каждому найти что-то для себя в мире ПК.
                                </p>
                                <p>
                                    Для нас важно делиться своими знаниями, развивать рынок ПК и становиться лучше с каждым днем.
                                </p>
                                <p>
                                    Нет необходимости изучать и сравнивать десятки вариантов ПК, тратя много драгоценного времени, ведь с помощью ComPart, Вы подберете оптимальную модель компьютера по указанным параметрам - быстро, просто и надежно!
                                </p>
                            </article>
                        </div><!-- /.b-info-bpage -->

                    </div>
                </div>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script>

            var configurator_id = 6;

            var currencyFormat = '1';
            var currencyConversionRate = '1.000000';
            var currencySign = '$';
            var currencyBlank = '0';
        </script>
    </div><!-- /.container-fluid -->
</div>