<div class="b-wrap-all-tr">
    <div class="container-fluid">
        <div class="b-content clearfix">
            <div class="b-wrap-row-container">
                <div class="row b-row-container">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                        <div class="">
                            <article class="b-article b-article-570">
                                <h1 style="font-family: 'Montserrat', sans-serif; font-size: 36px;">Сотрудничество</h1>
                                <p>
                                    Дорогие поставщики и потенциальные партнеры, рады приветствовать Вас на нашем сервисе!
                                </p>
                                <p>
                                    Мы заинтересованы в расширении ассортимента товаров для наших клиентов и готовы к рассмотрению Ваших предложений о сотрудничестве.
                                </p>
                                <p>
                                    Присылайте предложение на адрес электронной почты admin@compart.com
                                </p>
                                <p>
                                    Если Ваше предложение окажется интересным и конкурентоспособным, представитель нашей компании обязательно свяжется с Вами!
                                </p>
                            </article>
                        </div><!-- /.b-info-bpage -->

                    </div>
                </div>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script>

            var configurator_id = 6;

            var currencyFormat = '1';
            var currencyConversionRate = '1.000000';
            var currencySign = '$';
            var currencyBlank = '0';
        </script>
    </div><!-- /.container-fluid -->
</div>