@model WebApplication2.Models.CPU

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CPU</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="" asp-controller="CPUs" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="div-box">
                <label asp-for="TitleImagePath"></label>
                <input type="file" name="titleImageFile" id="titleImageFile" />
            </div>
            <div class="form-group">
                <label asp-for="Lineika" class="control-label"></label>
                <input asp-for="Lineika" class="form-control" />
                <span asp-validation-for="Lineika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Socket" class="control-label"></label>
                <input asp-for="Socket" class="form-control" />
                <span asp-validation-for="Socket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YadroName" class="control-label"></label>
                <input asp-for="YadroName" class="form-control" />
                <span asp-validation-for="YadroName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YadroQuantity" class="control-label"></label>
                <input asp-for="YadroQuantity" class="form-control" />
                <span asp-validation-for="YadroQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YadroCapacity" class="control-label"></label>
                <input asp-for="YadroCapacity" class="form-control" />
                <span asp-validation-for="YadroCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @*<div class="col-3 offset-1 pt-4" >
                <img src="@Model.TitleImagePath" width="100%" style="border-radius:5px; border:1px solid #111" />
            </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
